.tabs {
    text-align: center;
}

.tabs > * {
    display: inline-block;
    margin: 20px 20px 0px 20px;
}

.filters {
    margin-top: 50px;
}

.filters > div {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

.scenario-info > div {
    margin: 50px 50px 50px 50px;
}

.nodes {
    margin-top: 50px;
}

.nodes > div {
    background-color: palevioletred;
    margin: 50px 50px 50px 50px;
    height: 100%;
    padding-bottom: 10px;
}

table, th, td {
  /*border: 1px solid black;*/
}

.label {
    display: inline-block;
}

.value {
    display: inline-block;
}

.changes-toggle {
    display: inline-block;
}

.node-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.next-button {
    text-align: right;
    margin-right: 50px;
}

.navigation-buttons {
    margin-right: 50px;
    margin-left: 50px;
}

.node-table {
    margin: 10px;
    width: inherit;
    height: 270px;
    position: relative;
}

.table-input {
    width: 100px;
}

.scroll-pane {
    width: 100%;
}

.line-chart-container {
    width: 50%;
    height: 300px;
    text-align: center;
    margin: 50px auto;
    padding-bottom: 20px;
}

.line-chart-container canvas {
    margin-bottom: 50px;
}

.nav-bar {
    height: 75px;
    background-color: palegoldenrod;
}

.nav-bar img {
    height: 75%;
    margin: auto 0;
}

.nav-bar-logo {
    float: left;
}

.nav-bar-user {
    float:right;
}

.report-style-class {
    height:100vh;
}

.m-t-100 {
    margin-top:100px;
}
