.tabs {
    text-align: center;
}

.tabs > * {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

.filters {
    margin-top: 50px;
}

.filters > div {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

.scenario-info > div {
    margin: 50px 50px 50px 50px;
}

.nodes > div {
    background-color: palevioletred;
    margin: 50px 0px 50px 0px;
    height: 100%;
}

table, th, td {
  border: 1px solid black;
}

.label {
    display: inline-block;
}

.value {
    display: inline-block;
}

.changes-toggle {
    display: inline-block;
}

.node-header {
    display: flex;
    justify-content: space-between;
}

.next-button {
    text-align: right;
    margin-right: 50px;
}