
/* Tabs */
.tabs {
    text-align: center;
}

.tabs > * {
    display: inline-block;
    margin: 20px 20px 0px 20px;
}

/* Filters */

.filters {
    margin-top: 50px;
}

.filters > div {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

/* Scenario Info */

.scenario-info > div {
    margin: 50px 50px 50px 50px;
}

/* Nodes */
.nodes {
    margin-top: 50px;
}

.nodes > div {
    background-color: rgb(238, 238, 238);
    margin: 50px 50px 50px 50px;
    height: 100%;
    padding-bottom: 10px;
}

.node-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.node-header-chevron {
    float: right;
    color: rgb(141, 141, 141);
    margin: 8px;
}

.node-header-label {
    font-family: "Segoe UI";
    display: inline-block;
    color: rgb(141, 141, 141);
}

/* Node Tables */

.node-table {
    margin: 10px;
    width: inherit;
    height: 270px;
    position: relative;
}

.table-input {
    width: 100px;
}

.scroll-pane {
    width: 100%;
}

/* Navigation Buttons */

.next-button {
    text-align: right;
    margin-right: 50px;
}

.navigation-buttons {
    margin-right: 50px;
    margin-left: 50px;
}

/* Chart */

.line-chart-container {
    width: 50%;
    height: 300px;
    text-align: center;
    margin: 50px auto;
    padding-bottom: 20px;
}

/* Nav Bar */

.nav-bar {
    margin: -8px;
    height: 75px;
    background-color: palegoldenrod;
}

.nav-bar img {
    height: 75%;
}

.nav-bar-logo {
    float: left;
    margin: 10px;
}

.nav-bar-user {
    float: right;
    margin: 10px;
}

/* PowerBI Report */

.report-style-class {
    height:100vh;
}

/* Scenario Definition Page Layout */
.scenario-page {
    display: flex;
}

.scenario-main {
    flex: 1 0 auto;
}

.progress-sidebar {
    background-color: red;
}
.m-t-100 {
    margin-top:100px;
}
