<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="shortcut icon" type="img/ico" href="{% static 'favicon.ico' %}"/>
  <title>Cloud Analysis Manager</title>
</head>
<body>
{% if user.is_authenticated %}
    <div id="app" />
{% else %}
    <div>Please log in.</div>
{% endif %}
</body>
<script>
    const email = "{{user.email}}";
    const fullName = "{{user.first_name}}" + " " + "{{user.last_name}}";
    const me = {
        email,
        fullName
    }
    localStorage.setItem("me", JSON.stringify(me));
</script>

{% if user.is_authenticated %}
    {% load static %}
    <script src="{% static "frontend-app/main.js" %}"></script>
{% endif %}

</html>