{% extends 'material/frontend/base_module.html' %}

{% load static %}

{% block title %}Cloud Analysis Manager{% endblock %}

{% block extracss %}
{#  <link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css" rel="stylesheet">#}
{#  {% include "material/includes/material_css.html" %}#}

  <style type="text/css">
    html, body {
      background: #eee;
      height: 100%;
    }
  </style>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{#  {% include "material/includes/material_js.html" %}#}
{% endblock %}
