{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{%  for i in asolution %}
    {{ i.name }}
{% endfor %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}


{% block field_sets %}


{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block custom %}
<fieldset class="module aligned {{ fieldset.classes }}">

<h2>CUSTOM BLOCK</h2>

    <div class="form-row field-solution">
    <div>
        <label class="required" for=id_solution">
            Scenario :
        </label>
        <div class="related-widget-wrapper">
            <select name="Scenario" required id="id_scenario">
                {% for scenario in scenarios %}
                    <option value={{ scenario.0}}>{{ scenario.1}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="form-row field-solution">
    <div>
        <label class="required" for=id_solution">
            Model :
        </label>
        <div class="related-widget-wrapper">
            <select name="Model" required id="id_model">
                {% for model in models %}
                    <option value={{ model.0}}>{{ model.1}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<!--
    <div class="form-row field-solution">
    <div>
        <label class="required" for=id_solution">
            Input Page:
        </label>
        <div class="related-widget-wrapper">
            <select name="ip_page" required id="ip_model">
                <option value="1">IP1</option>
            </select>
        </div>
    </div>
    </div>
    -->



</fieldset>

{% endblock %}


{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}


{% block custom_block %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <div>
    <form id="evaluate" method="POST">
        {%  csrf_token %}
        <!--<button class="button" id="Evaluate" type="submit" href ="{% url 'app:load_template' %}">Evaluate</button>-->
        <a role="button" class="btn btn-default" id="id_go" href ="{% url 'app:load_template' %}"> Evaluate and View Chart </a>
        <a href='#' style="float:right"  id="executive" > Render Executive View </a>
    </form>

    <br>
    </div>
    <script>
$("#executive").on('click', function (){
          data1 = "Hello"
          $.ajax({
              url : "/app/render_executive/",
              data : {
                  "scenarios" : data1
              },
              success : function(data) {
                  console.log(data)
            },
              error: function(xhr, status, error) {
                  console.log(error); }
          })
      });
</script>
{% endblock %}



{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}



{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#id_scenario").change(function () {
            console.log("Scenario ID:",this.value)
        });
        $("#id_model").change(function () {
            console.log("Model ID:",this.value)
        });

    });
 </script>
{% endblock %}
