{% extends 'app/base_form.html' %}

{% load i18n material_frontend material_form %}

{% block js %}
  {{ block.super }}
  <script>
      // Load the value indicator on range inputs
      window.onload = function () {
          let elements = document.querySelectorAll("input[type=range]");
          M.Range.init(elements);
      };
  </script>
{% endblock %}

{% block breadcrumbs_items %}
  <a href="{% url exec_view|frontend_urlname:'list' %}">{{ exec_view|verbose_name_plural|title }}</a>
  <a href="{% url exec_view|frontend_urlname:'detail' exec_view.pk %}">{{ exec_view }}</a>
  <a class="active">{% trans 'Run Eval Job' %}</a>
{% endblock %}

{% block formtitle %}Executive View{% endblock %}
