{#{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}#}

{#<form action="{% url 'app:start' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Start">#}
{#</form>#}
{#<br><br>#}
{#<form action="{% url 'app:stop' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <input type="submit" value="Stop">#}
{#</form>#}

{#{% for input in exec_view.inputs %}#}
{#    {% with template_name=input.get_template %}#}
{#        {% include "app/"|add:template_name|add:".html" with widget=input %}#}
{#    {% endwith %}#}
{#{% endfor %}#}

{% load static %}
<form action="{# url 'app:test' #}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>